{# "base.html.j2" provides the base HTML layout that defines headers/content areas for all routes #}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>
        Synthetic Text Watermarking | BBC R&D
    </title>

    {# Packages #}
    <script defer src="https://unpkg.com/pretty-json-custom-element/index.js"></script>

    {# Favicon #}
    <link rel="icon" href="{{ url_for('static', filename='images/rd-logo-favicon.jpeg' ) }}" type="image/x-icon">

	{# CSS #}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css' ) }}" />

</head>

<body>
    {# Content #}
    <h1>
        Synthetic Text Watermarking | BBC R&D
    </h1>

    {# Specific page content #}
	{% block page_content %}{% endblock %}

</body>

</html>
