{# "verfify.html.js" populates the /verify route #}
{% extends "base.html.j2" %}

{% block page_content %}
    <h2>
        Verify a candidate text
    </h2>

    <p>
        This process verifies whether a valid C2PA manifest exists within a candidate text.
    </p>

    <form method="POST" action="/c2pa_verify">
        <label for="text-input"><b>Enter text to verify:</b></label><br>
        <textarea id="text-input" name="text" rows="4" required></textarea><br>
        <button type="submit">Submit</button>
    </form>

    <br><br>
    {% if text %}
        <p> <b>Input text:</b> <br> {{ text }} </p>
        <p> <b>Verification result:</b> {{ result }} </p>

		{% if payload %}
			<p> <b>Extracted manifest:</b> <pretty-json> {{ payload }} </pretty-json> </p>
		{% endif %}
	{% endif %}

{% endblock %}
