/************************************************************************************
* Global page body controls
************************************************************************************/

body {
    margin: 50px;
    font-family: "ReithSans";
}


/************************************************************************************
* Main page content area
************************************************************************************/

textarea {
    width: 100%;
    padding: 10px;
    font-family: Arial, sans-serif;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
}
