{# "verfify.html.js" populates the /verify route #}
{% extends "base.html.j2" %}

{% block page_content %}
    <h2>
        Sign some plaintext
    </h2>

    <p>
        This process embeds a C2PA manifest within an input sequence of plaintext.
    </p>

    <form method="POST" action="/sign">
        <label for="text-input"><b>Enter text to sign:</b></label><br>
        <textarea id="text-input" name="text" rows="4" required></textarea><br>
        <button type="submit">Submit</button>
    </form>

    <br><br>
    {% if text %}
        <p> <b>Output text:</b> {{ text }} </p>
	{% endif %}

{% endblock %}
